@using Microsoft.Ajax.Utilities
@model PestControlDll.Entities.Route

<link href="~/Content/MapController.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<body>
    <br />
    <form method="post" action="/Home/AddAddressToRoute">
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 sidebar1">
                    @* Below here is sidebar *@
                    <div>
                        
                        <label class="control-label">Route</label>
                        @if (Model != null)
                        {
                            <input type="hidden" id="Id" name="Route.Id" value=@Model.Id>
                            <input type="text" id="Name" name="Route.Name" size="20" value=@Model.Name><br/>
                        }
                        else
                        {
                            <input type="text" id="Name" name="Route.Name" size="20"/><br/>
                        }
                        <label class="control-label">Address</label> <br/>
                        <input type="text" id="Address" name="Address"/>


                        <input type="submit" value="Add" class="btn btn-success"/>
                        @if(Model != null) {
                        @Html.ActionLink("To map", "Map", new { routeId = Model.Id }, new { @class = "btn btn-primary" })
                         }
                    </div>
                    </div>



                <div class="col-md-10 col-sm-8 main-content">
                    @* Below here is the main content *@
                    <ol>
                        @if (Model != null)
                        {
                            foreach (var item in Model.Destinations)
                            {

                                <li>@item.FullAddress</li>
                            }
                        }
                    </ol>
                </div>
            </div>
        </div>
    </form>
</body>