@using Microsoft.Ajax.Utilities
@model PestControlDll.Entities.Route
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/MapControllerCss.css" rel="stylesheet" />
<body>
    <form method="post" action="/Home/AddAddressToRoute">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 sidebar1">
                    @* Below here is sidebar *@
                    <div>
                        

                        @if (Model != null)
                        {
                            <label class="control-label">Route</label>
                            <input type="hidden" id="Id" name="Route.Id" value=@Model.Id>
                            <input type="text" id="Name" name="Route.Name" size="20" value=@Model.Name><br/>
                        }
                        else
                        {
                            <label class="control-label">Route</label>
                            <input type="text" id="Name" name="Route.Name" size="20"/><br/>
                        }
                        Address: <input type="text" id="Address" name="Address"/>


                        <input type="submit" value="add"/>
                    </div>
                    </div>






















                <div class="col-md-10 col-sm-8 main-content">
                    @* Below here is the main content *@
                    <ul id="destinations">
                        @if (Model != null)
                        {
                            foreach (var item in Model.Destinations)
                            {
                                <input type="hidden" name="Route.Destinations.Lat" value=@item.Lat>
                                <input type="hidden" name="Route.Destinations.Long" value=@item.Long >
                                <input type="hidden" name="Route.Destinations.FullAddress" value=@item.FullAddress >
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </form>
</body>