@model PestControlDll.Entities.Destination
@{
    ViewBag.Title = "ConfirmDeleteDestination";
}

<h2>ConfirmDeleteDestination</h2>

<h3>Are you sure you want to delete @Model.FullAddress ?</h3>

<form action="/Route/DeleteDestination" method="post">
    <input type="submit" value="Yes" class="btn btn-danger" />
    <input type="hidden" value="@Model.Id" name="id" />
    <input type="hidden" value="@Model.RouteId" name="routeId"/>
</form>

<hr />
@Html.ActionLink("No, go back!", "EditDestinations", new { routeId = Model.RouteId}, new { @class="btn btn-default" })