body {
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
ol {
  -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 40px;

}

ol > li {
    color: black;
    font-size: large;
}